#! /bin/bash

# If this program is ment to be run on WSL system then set the following value to 1

WSL=1

# put in your default paths for the projects

flutter_default_route="/mnt/c/Users/saswa/AndroidStudioProjects/"
pyhton_default_route="/mnt/e/Projects/"

# If you want to trigger VScode

vscode=1

#If you want to auto upgrade everytime you create a 

flutter_upgrade_status=0